page-pocket-money {

    .a{
        background-color:lightgray;
        height: 140px;
        font-size:18px;
        border-radius: 20px
      
    }
    .a1{
        background-color:lightgray;
        height: 35px;
        font-size:24px;
        border-radius: 20px
      
    }
    .b{
        margin-top:10px;
    }
    .d{
        margin-top:10%
    }
    .c{
        font-size:24px;
    }
    .c1{
        font-size:16px;
    }
    .g{
        margin-bottom:25%
    
    }
}
